In [22]:
%cd ..

C:\Users\lcvri\projects_lc

In [23]:
# third party
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# local
from src.pd_helpers import count_per_week
from src.doc_analysis import load_lexisnexis_data, most_common

In [24]:
df = load_lexisnexis_data()

In [25]:
print("Total no. of articles: ", df.body.count().sum())
df.groupby('source').count().T

Total no. of articles:  1869

source            De Telegraaf  Leeuwarder Courant  Trouw  de Volkskrant
title                      487                 301    497            584
body                       487                 301    497            584
body_                      487                 301    497            584
body_str                   487                 301    497            584
publication_date           487                 301    497            584
load_date                  487                 301    497            584
section                    487                 301    497            584
page                       487                 301    497            584
length                     487                 301    497            584
byline                     299                 165    457            490
copyright                  487                 301    497            584
folder                     487                 301    497            584
filename                   487                 301    497            584
url                        487                 301    497            584

In [ ]:
most_common(df, 'byline')

In [ ]:
df.groupby('source').length.agg(['min', 'max', 'mean', 'median', 'std']).round(1).T

In [ ]:
df['length_bin'] = pd.cut(df['length'], range(0, 2250, 250))
df_bin = df.groupby(['source', 'length_bin']).length.count()
df_bin.unstack('source').plot.bar(figsize=(12,5))

In [ ]:
most_common(df, 'section')

In [ ]:
df.groupby('source').page.agg(['min', 'max', 'mean', 'median', 'std']).round(1).T

In [ ]:
df['page_bin'] = pd.cut(df['page'], range(0, 50, 5))
df_bin = df.groupby(['source', 'page_bin']).page.count()
df_bin.unstack('source').plot.bar(figsize=(12,5))

In [ ]:
df_agg = count_per_week(df, 'publication_date', 'source')
df_agg = df_agg.set_index('source', append=True).unstack('source')
df_agg.index = range(1, 52, 1)
df_agg.plot(kind='bar', figsize=(12,15), subplots=True)

In [ ]:
df_agg = count_per_week(df, 'publication_date', 'source')
df_agg = df_agg.set_index('source', append=True).unstack('source')
df_agg.index = range(1, 52, 1)
df_agg.plot(kind='line', figsize=(12,5), subplots=False)