In [1]:
%cd ..

C:\Users\lcvri\projects_lc\lexisnexis_place_extraction

In [2]:
# third party
import pandas as pd
# local
from src.config_ import PATHS
from src.pd_helpers import normalize_cols, aggregate
from src.doc_analysis import load_lexisnexis_data

In [7]:
df = load_lexisnexis_data()
stats = pd.read_pickle(PATHS.results / 'df_nlp_stats.pkl').set_index('id')
df = df.merge(stats, left_index=True, right_index=True)

In [8]:
normalizations = [
    ('n_words',     'n_tokens',    True),
    ('n_entities',  'n_tokens',    True),
    ('n_sentences', 'n_tokens',    True),
    ('pos',         'n_tokens',    True),
    ('ent',         'n_tokens',    True),
    ('unique_ent',  'n_entities',  True),
]

for n in normalizations:
    cols = [col for col in df.columns if col.startswith(n[0])]
    df = normalize_cols(df, cols, n[1], invert=n[2])

In [9]:
cols = [
    'n_sentences',
    'n_tokens',
    'n_stopwords',
    'n_words',
    'n_entities',
    'n_tokens/n_sentences',
    'n_tokens/n_words',
    'n_tokens/n_entities']
aggregate(df, cols, 'source')

source,De Telegraaf,Leeuwarder Courant,Trouw,de Volkskrant,std
source,487.0,301.0,497.0,584.0,119.09
"(n_sentences, mean)",29.7,34.1,45.3,52.3,10.32
"(n_tokens, mean)",489.9,585.2,772.5,862.7,170.33
"(n_stopwords, mean)",202.1,249.4,337.4,375.1,79.29
"(n_words, mean)",287.8,335.9,435.0,487.6,91.06
"(n_entities, mean)",6.6,7.6,10.6,10.3,1.98
"(n_tokens/n_sentences, mean)",18.0,18.5,18.3,17.7,0.35
"(n_tokens/n_words, mean)",1.7,1.7,1.8,1.8,0.06
"(n_tokens/n_entities, mean)",137.0,133.6,144.4,146.6,6.12

In [10]:
cols = ['n_tokens']
cols.extend(sorted([col for col in df.columns if 'n_tokens/' in col and 'pos_' in col]))
aggregate(df, cols, 'source')

source,De Telegraaf,Leeuwarder Courant,Trouw,de Volkskrant,std
source,487.0,301.0,497.0,584.0,119.09
"(n_tokens, mean)",489.9,585.2,772.5,862.7,170.33
"(n_tokens/pos_adj, mean)",16.3,16.9,15.8,16.3,0.45
"(n_tokens/pos_adp, mean)",9.7,9.5,9.5,9.5,0.10
"(n_tokens/pos_adv, mean)",17.1,17.2,16.6,17.1,0.27
"(n_tokens/pos_conj, mean)",26.9,24.3,23.5,23.1,1.71
"(n_tokens/pos_det, mean)",10.9,10.6,10.9,10.4,0.24
"(n_tokens/pos_noun, mean)",4.5,4.5,4.6,4.5,0.05
"(n_tokens/pos_num, mean)",68.9,68.1,64.7,69.9,2.26
"(n_tokens/pos_pron, mean)",23.8,20.6,17.7,17.3,3.02
"(n_tokens/pos_propn, mean)",74.4,56.1,86.9,64.5,13.26
"(n_tokens/pos_punct, mean)",11.2,9.0,8.6,8.6,1.25
"(n_tokens/pos_space, mean)",14.1,44.1,68.2,66.5,25.26
"(n_tokens/pos_verb, mean)",7.9,7.8,7.7,7.6,0.13
"(n_tokens/pos_x, mean)",178.8,161.0,188.0,165.5,12.36

In [7]:
cols = [col for col in df_all.columns if col.startswith('unique_ent')]
df_all['n_entities_unique'] = df_all[cols].sum(axis=1, skipna=True)

In [8]:
cols = ['n_entities', 'n_entities_unique']
cols.extend(sorted([col for col in df_all.columns if 'n_entities/' in col and 'ent_' in col]))
aggregate(df_all, cols, 'source')

source,De Telegraaf,Leeuwarder Courant,Trouw,de Volkskrant,std
source,487.0,301.0,497.0,584.0,119.09
"(n_entities, mean)",6.6,7.6,10.6,10.3,1.98
"(n_entities_unique, mean)",3.4,3.7,5.0,5.0,0.85
"(n_entities/unique_ent_countries, mean)",3.5,3.4,3.7,3.9,0.22
"(n_entities/unique_ent_places, mean)",6.3,7.0,6.6,7.1,0.37
"(n_entities/unique_ent_places_fr, mean)",9.5,6.0,13.0,21.5,6.65
"(n_entities/unique_ent_places_nl, mean)",6.5,8.3,14.4,10.6,3.41
"(n_entities/unique_ent_places_uk, mean)",7.1,8.3,10.4,9.4,1.42

In [9]:
cols = ['n_tokens', 'n_entities']
cols.extend(sorted([col for col in df_all.columns if 'n_tokens/' in col and 'ent_' in col]))
aggregate(df_all, cols, 'source')

source,De Telegraaf,Leeuwarder Courant,Trouw,de Volkskrant,std
source,487.0,301.0,497.0,584.0,119.09
"(n_tokens, mean)",489.9,585.2,772.5,862.7,170.33
"(n_entities, mean)",6.6,7.6,10.6,10.3,1.98
"(n_tokens/ent_countries, mean)",208.0,228.6,236.3,271.3,26.36
"(n_tokens/ent_places, mean)",336.0,385.3,398.2,467.1,54.08
"(n_tokens/ent_places_fr, mean)",520.0,543.0,604.5,2037.5,741.69
"(n_tokens/ent_places_nl, mean)",379.7,411.1,647.9,627.2,140.65
"(n_tokens/ent_places_uk, mean)",353.1,340.9,421.2,482.9,65.86

In [10]:
crit1 = 'n_entities/'
crit2 = 'place'
cols = ['n_tokens', 'n_entities']
cols.extend(sorted([col for col in df_all.columns if crit1 in col and crit2 in col]))
df_avg_ent = df_all.groupby(['source', 'section'])[cols].agg(['mean']).round(1)
df_avg_ent.columns = [f"avg:{col[0]}" for col in df_avg_ent.columns.values]
df_avg_ent = df_avg_ent.join(df_all.groupby(['source', 'section'])['section'].count())
df_avg_ent.query('section >= 10').sort_values(f"avg:{cols[2]}"
    ).sort_index(level='source', sort_remaining=False)

                                         avg:n_tokens  avg:n_entities  \
source             section
De Telegraaf       buitenland                   437.8             5.8
                   journaal                     674.7             9.8
                   financieel                   431.8             6.1
                   binnenland                   633.2             8.5
Leeuwarder Courant in het nieuws                502.8             6.5
                   economie                     337.3             4.5
                   advertenties                 510.1             8.4
                   buitenland                   553.8            10.7
                   algemeen                     838.3             8.3
Trouw              service                      493.1             2.3
                   religie en filosofie        1183.3             8.2
                   buitenland                   477.3             8.1
                   nederland                    558.9             9.4
                   opinie                       592.2             6.7
                   economie                     522.9             8.7
                   vandaag                      625.4             8.8
                   letter en geest             1390.6            16.5
                   de verdieping               1430.2            19.6
de Volkskrant      sir edmund                  1692.4            14.5
                   economie                     413.3             8.0
                   opinie zaterdag             1117.2             9.8
                   ten eerste                   791.4             9.8
                   opinie en debat              753.4             9.9
                   v opening                   1421.3            13.6
                   zaterdag                    1412.5            17.2

                                         avg:n_entities/unique_ent_places  \
source             section
De Telegraaf       buitenland                                         4.9
                   journaal                                           7.0
                   financieel                                         7.1
                   binnenland                                         7.8
Leeuwarder Courant in het nieuws                                      5.9
                   economie                                           6.1
                   advertenties                                       6.3
                   buitenland                                         7.8
                   algemeen                                           8.3
Trouw              service                                            2.0
                   religie en filosofie                               5.3
                   buitenland                                         5.5
                   nederland                                          5.7
                   opinie                                             6.2
                   economie                                           6.2
                   vandaag                                            6.3
                   letter en geest                                    7.4
                   de verdieping                                      9.6
de Volkskrant      sir edmund                                         5.0
                   economie                                           6.7
                   opinie zaterdag                                    6.8
                   ten eerste                                         7.0
                   opinie en debat                                    7.0
                   v opening                                          8.7
                   zaterdag                                          12.6

                                         avg:n_entities/unique_ent_places_fr  \
source             section
De Telegraaf       buitenland                                            NaN
                   journaal                                              NaN
                   financieel                                            NaN
                   binnenland                                           10.0
Leeuwarder Courant in het nieuws                                         3.0
                   economie                                              3.2
                   advertenties                                         13.4
                   buitenland                                            NaN
                   algemeen                                              3.1
Trouw              service                                               NaN
                   religie en filosofie                                  NaN
                   buitenland                                            NaN
                   nederland                                             NaN
                   opinie                                                NaN
                   economie                                              NaN
                   vandaag                                               NaN
                   letter en geest                                       NaN
                   de verdieping                                        13.0
de Volkskrant      sir edmund                                            NaN
                   economie                                              NaN
                   opinie zaterdag                                       NaN
                   ten eerste                                           17.0
                   opinie en debat                                       NaN
                   v opening                                             NaN
                   zaterdag                                             26.0

                                         avg:n_entities/unique_ent_places_nl  \
source             section
De Telegraaf       buitenland                                           16.8
                   journaal                                              5.0
                   financieel                                            5.7
                   binnenland                                            7.4
Leeuwarder Courant in het nieuws                                        11.1
                   economie                                              4.7
                   advertenties                                          9.5
                   buitenland                                           19.5
                   algemeen                                              6.0
Trouw              service                                               2.5
                   religie en filosofie                                  5.5
                   buitenland                                           18.7
                   nederland                                             5.3
                   opinie                                                7.7
                   economie                                             10.8
                   vandaag                                              11.4
                   letter en geest                                      17.2
                   de verdieping                                        22.9
de Volkskrant      sir edmund                                           13.2
                   economie                                              9.4
                   opinie zaterdag                                      12.9
                   ten eerste                                           11.2
                   opinie en debat                                       9.7
                   v opening                                             9.0
                   zaterdag                                             14.2

                                         avg:n_entities/unique_ent_places_uk  \
source             section
De Telegraaf       buitenland                                            5.8
                   journaal                                              2.0
                   financieel                                            7.0
                   binnenland                                           11.1
Leeuwarder Courant in het nieuws                                         7.7
                   economie                                              4.0
                   advertenties                                          9.8
                   buitenland                                           12.2
                   algemeen                                              9.9
Trouw              service                                               2.5
                   religie en filosofie                                 12.4
                   buitenland                                            7.6
                   nederland                                             5.7
                   opinie                                                5.5
                   economie                                             12.6
                   vandaag                                               9.5
                   letter en geest                                      16.2
                   de verdieping                                        16.4
de Volkskrant      sir edmund                                           11.0
                   economie                                              7.7
                   opinie zaterdag                                       7.4
                   ten eerste                                            9.2
                   opinie en debat                                       9.4
                   v opening                                            11.5
                   zaterdag                                             11.9

                                         section
source             section
De Telegraaf       buitenland                158
                   journaal                   12
                   financieel                222
                   binnenland                 69
Leeuwarder Courant in het nieuws              95
                   economie                   53
                   advertenties               74
                   buitenland                 14
                   algemeen                   24
Trouw              service                    14
                   religie en filosofie       11
                   buitenland                 85
                   nederland                  11
                   opinie                     53
                   economie                   70
                   vandaag                   130
                   letter en geest            39
                   de verdieping              65
de Volkskrant      sir edmund                 26
                   economie                   55
                   opinie zaterdag            32
                   ten eerste                291
                   opinie en debat           114
                   v opening                  23
                   zaterdag                   15

In [11]:
crit1 = 'n_tokens/'
crit2 = 'place'
cols = ['n_tokens', 'n_entities']
cols.extend(sorted([col for col in df_all.columns if crit1 in col and crit2 in col]))
df_avg_ent = df_all.groupby(['source', 'section'])[cols].agg(['mean']).round(1)
df_avg_ent.columns = [f"avg:{col[0]}" for col in df_avg_ent.columns.values]
df_avg_ent = df_avg_ent.join(df_all.groupby(['source', 'section'])['section'].count())
df_avg_ent.query('section >= 10').sort_values(f"avg:{cols[2]}"
    ).sort_index(level='source', sort_remaining=False)

                                         avg:n_tokens  avg:n_entities  \
source             section
De Telegraaf       buitenland                   437.8             5.8
                   binnenland                   633.2             8.5
                   journaal                     674.7             9.8
                   financieel                   431.8             6.1
Leeuwarder Courant buitenland                   553.8            10.7
                   economie                     337.3             4.5
                   advertenties                 510.1             8.4
                   in het nieuws                502.8             6.5
                   algemeen                     838.3             8.3
Trouw              economie                     522.9             8.7
                   buitenland                   477.3             8.1
                   nederland                    558.9             9.4
                   vandaag                      625.4             8.8
                   service                      493.1             2.3
                   opinie                       592.2             6.7
                   de verdieping               1430.2            19.6
                   letter en geest             1390.6            16.5
                   religie en filosofie        1183.3             8.2
de Volkskrant      economie                     413.3             8.0
                   opinie en debat              753.4             9.9
                   ten eerste                   791.4             9.8
                   sir edmund                  1692.4            14.5
                   opinie zaterdag             1117.2             9.8
                   zaterdag                    1412.5            17.2
                   v opening                   1421.3            13.6

                                         avg:n_tokens/ent_places  \
source             section
De Telegraaf       buitenland                              249.7
                   binnenland                              318.2
                   journaal                                356.1
                   financieel                              390.1
Leeuwarder Courant buitenland                              221.8
                   economie                                281.3
                   advertenties                            347.4
                   in het nieuws                           360.5
                   algemeen                                643.7
Trouw              economie                                279.3
                   buitenland                              284.1
                   nederland                               284.3
                   vandaag                                 320.7
                   service                                 429.3
                   opinie                                  482.6
                   de verdieping                           494.0
                   letter en geest                         698.2
                   religie en filosofie                    902.8
de Volkskrant      economie                                293.6
                   opinie en debat                         357.6
                   ten eerste                              435.6
                   sir edmund                              535.7
                   opinie zaterdag                         653.7
                   zaterdag                                777.6
                   v opening                               962.4

                                         avg:n_tokens/ent_places_fr  \
source             section
De Telegraaf       buitenland                                   NaN
                   binnenland                                 125.0
                   journaal                                     NaN
                   financieel                                   NaN
Leeuwarder Courant buitenland                                   NaN
                   economie                                   154.4
                   advertenties                               886.6
                   in het nieuws                              492.5
                   algemeen                                   362.6
Trouw              economie                                     NaN
                   buitenland                                   NaN
                   nederland                                    NaN
                   vandaag                                      NaN
                   service                                      NaN
                   opinie                                       NaN
                   de verdieping                              604.5
                   letter en geest                              NaN
                   religie en filosofie                         NaN
de Volkskrant      economie                                     NaN
                   opinie en debat                              NaN
                   ten eerste                                2029.0
                   sir edmund                                   NaN
                   opinie zaterdag                              NaN
                   zaterdag                                  2046.0
                   v opening                                    NaN

                                         avg:n_tokens/ent_places_nl  \
source             section
De Telegraaf       buitenland                                 421.8
                   binnenland                                 425.1
                   journaal                                   361.1
                   financieel                                 357.2
Leeuwarder Courant buitenland                                 687.0
                   economie                                   257.3
                   advertenties                               421.6
                   in het nieuws                              482.1
                   algemeen                                   422.0
Trouw              economie                                   236.2
                   buitenland                                 492.7
                   nederland                                  322.7
                   vandaag                                    468.3
                   service                                    379.5
                   opinie                                     530.3
                   de verdieping                             1010.6
                   letter en geest                           1062.7
                   religie en filosofie                       406.2
de Volkskrant      economie                                   277.0
                   opinie en debat                            567.8
                   ten eerste                                 486.6
                   sir edmund                                1538.5
                   opinie zaterdag                           1136.2
                   zaterdag                                  1232.2
                   v opening                                  668.4

                                         avg:n_tokens/ent_places_uk  section
source             section
De Telegraaf       buitenland                                 349.0      158
                   binnenland                                 468.4       69
                   journaal                                   662.0       12
                   financieel                                 324.9      222
Leeuwarder Courant buitenland                                 436.8       14
                   economie                                   226.8       53
                   advertenties                               374.0       74
                   in het nieuws                              319.7       95
                   algemeen                                   699.4       24
Trouw              economie                                   314.6       70
                   buitenland                                 342.5       85
                   nederland                                  449.0       11
                   vandaag                                    393.8      130
                   service                                    412.5       14
                   opinie                                     403.2       53
                   de verdieping                              538.9       65
                   letter en geest                            923.2       39
                   religie en filosofie                       513.4       11
de Volkskrant      economie                                   242.2       55
                   opinie en debat                            600.6      114
                   ten eerste                                 444.7      291
                   sir edmund                                 505.3       26
                   opinie zaterdag                            925.4       32
                   zaterdag                                   686.2       15
                   v opening                                  737.6       23